#header_name {
  display: inline;
  color: green;
}

nav {
  display: inline;
}

ul {
  display: inline;
}

#features {
  display: block;
  list-style-type: circle;
}

#nav_bar {
  padding: 8px;
  display: inline;
  list-style-type: none;
}

header {
  text-align: center;
}

body {
  font-family: roboto, sans-serif;
}
